@import "tailwindcss";
body {
  @apply bg-[#02030a] text-slate-50 antialiased;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #050816;
}
::-webkit-scrollbar-thumb {
  background: rgba(35, 181, 181, 0.7);
  border-radius: 999px;
}